/* styles/globals.css */
@keyframes float {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  50% {
    transform: translateY(-50px) rotate(5deg);
  }
  100% {
    transform: translateY(0) rotate(0deg);
  }
}

.animate-float span {
  display: inline-block;
  animation-name: float;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}