@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Poppins', sans-serif;
}


/* globals.css */
.line-clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.slim-scroll::-webkit-scrollbar {
  width: 3px; /* Width of the scrollbar */
  height: 5px;
}

.slim-scroll::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
}

.slim-scroll::-webkit-scrollbar-thumb {
  background-color: #1BB68A; /* Thumb color */
  border-radius: 1px; /* Rounded corners */
}

/* Optional: Hide scrollbar when inactive */
.slim-scroll::-webkit-scrollbar-thumb:hover {
  background: #555; /* Thumb color on hover */
}
